<!DOCTYPE html>

<html lang ="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Cheetcheat HTML5">
		<title>Inscription</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
	</head>
	
	<body>
		<section>
		<img src="../../static/img/moines.jpg" alt="moines">
		<h1> Formulaire d'inscription </h1>
			
			
			
			
			<form name="formulaire" th:action ="@{/AjoutUtilisateurs}" th:object="utilisateur" method="post">
			
			  <div class="userIdentification">
				<label for="homme">Homme</label>
				 <input type="radio" id="homme"  th:field="*{sexe}" value="HOMME"> 
				 
				 <label for="FEMME">Madame</label>
				<input type="radio" id="femme"  th:field="*{sexe}" value="FEMME" >  
				<!-- Message d erreur-->
				<p th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}"></p>
				</br>
				
				<label for="nom">Entrez votre nom</label>
				<input type="text" id="nom" name="nom"  ></br>
				<p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></p>
				
				<label for="prenom">Entrez votre prenom</label>
				<input type="text" id="prenom" name="prenom" ></br>
				<p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></p>
				<label for="password">Entrez votre mot de passe</label>
				<input type="text" id="email" name="email"> 
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
				
				<label for="nom">Entrez votre pseudo</label>
				<input type="text" id="pseudo" name="pseudo"  ></br>
				<p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></p>
				
					<label for="type">Entrez votre type</label>
				<input type="text" id="type" name="pseudo"  ></br>
				<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
			  </div>
			  
			  <div class="userLocalisation">
			  <label for="description">Entrez vune description</label>
				<textarea id="description" name="description"  ><</textarea>
			  
				<label for="dateDeNaissance">Entrez votre date de naissance</label>
				<input type="text" id="dateDeNaissance" name="dateDeNaissance"  ></br>
				
				<label for="photo">Entrez une photo</label>
				<input type="text" id="photo" name="photo" ></br>
			  </div>
				
				<h2>Envoyez vos réponses</h2>
				
				<input type="submit" value="Validez"> <!--Valider le contenu du formulaire -->
								
			</form>	
						
		</section>
			
	</body>

</html>
